.header{
    height: 5vh;
    margin-left: 11%;
    width: 89%;
    margin-bottom: 0;
}
.main {
    display: flex;                  
    width: 100%;                       
}
.days_container{
    width: 10%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  
    justify-content: space-around;
}

.day {
    width: 50%;                       
    white-space: nowrap;              
    overflow: hidden;       
    display: flex;                     
    align-items: center;                 
    justify-content: center;            
    transition: width 0.3s ease;       
    cursor: pointer;                   
    background-color: #f0f0f0;         
    text-align: center;               
    border-radius: 5px; 
    height: 8%;  
    color: white;             
  }
  .day.selected{
    background-color: black;
  }
  .day:hover {
    width: 100px;                      
  }
  
  .day::after {
    content: attr(full-day);           
    visibility: hidden;                
    position: absolute;                
    white-space: nowrap;               
  }
  
  .day:hover::after {
    visibility: visible;              
    position: static;                  
  }
  .summary_area{
    width: 90%;
  }


  .add_expense_button:hover {
    background-color: #45a049; 
  }
