body{
    max-height: 100vh;
}

@media screen and (max-width:1200px)
{
    .photo-frame
    {
        width: 40vw;
    }

}

@media screen and (max-width:750px)
{
    .photos-area
    {
        gap:0;
        row-gap: 1%;
    }
    .photo-frame
    {
        width: 80vw;
        height: 80vw;
    }

}