.rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5em; 
    font-weight: bold;
    margin-right: 20px;
}

.info_container {
    flex-grow: 1; 
}

.info_row {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 5px; 
    margin-right: 1.5%;
}

.label {
    font-weight: bold; 
    margin-right: 5px;
}

.value {
    color: #333; 
}

.button_container {
    display: flex; 
    gap: 10px; 
}

.edit_button, .delete_button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer; 
}

.edit_button {
    background-color: #4caf50;
    color: white; 
}

.delete_button {
    background-color: #f44336; 
    color: white; 
}