.photos_area {
    margin-top: calc(2vh + 2vw + 2.5vh);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5vw;
    row-gap: 5vh;
    justify-content: center;
    height: 85vh;
    overflow-y: auto;
}

@media screen and (max-width:750px) {
    .photos_area {
        gap: 0;
        row-gap: 1%;
    }

}