body{
    margin:0;
    height: 100vh;
    background-image: url('../img/floor_bg_1.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}
.left{
    height: 100%;
    width: 92%;
}
.right{
    background-color: rgba(0, 0, 0, 0.7);
    width: 8%;
    height: 100%;
}
.button-area{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
    overflow-y: auto; 
}

.numbered-button  {
    width: 48%;
    height: 7%;
    border: 0.5px solid rgba(255,255,255, 0.2); 
    border-radius: 4px;
    min-height: 15px;

    /*this part is for text*/
    color: white;
    font-size:80%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.numbered-button:hover{
    background-color: rgba(255,255,255, 0.2);
}
.numbered-button:active
{
    background-color: white;
    color: black;
}

#logout{
    height: 1.5%;
    min-height: 7px;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 60%;
}

#card{
    align-self: center;
    height: 4%;
    margin-top: 30%;
}

#love{
    margin-top: 30%;
    font-size: 70%;
    font-weight: normal;
    font-family: 'PT Sans';

    justify-content: center;
    justify-self: center;
    text-align: center;
}

#love:hover{
    background-color: rgba(255,255,255, 0);
}
#love:active{
    color: white;
}
#logo
{
    height: 4%;
    margin-top: 2%;
    margin-left: 3%;
}

#back{
    margin-top: 2%;
    margin-left: 3%;
    height: 3.5%;
    width: 7.2%;
    border: 0.5px solid white; 
}