body{
    margin:0;
    height: 100vh;
    background-image: url('../img/office.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}
.left{
    height: 100vh;
    max-height: 100vh;
    width: 92vw;
}
.left_2{
    display: flex;
    justify-content: center; 
    height: calc(90% - 15px);
}
.content{
    align-self: center;
    color: white;
    text-align: center;
}

.right{
    background-color: rgba(0, 0, 0, 0.7);
    width: 8vw;
    height: 100vh;
    overflow-y: auto; 
}
.button-area{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.numbered-button  {
    width: 48%;
    height: 7%;
    border: 0.5px solid rgba(255,255,255, 0.2); 
    border-radius: 4px;
    min-height: 12px;
    background-color: inherit;

    /*this part is for text*/
    color: white;
    font-size:80%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.numbered-button:hover{
    background-color: rgba(255,255,255, 0.2);
}
.numbered-button:active
{
    background-color: white;
    color: black;
}
#active_b{
    background-color: white;
    color: black;
}
#logout{
    height: 1.5%;
    min-height: 7px;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 60%;
}

#card{
    align-self: center;
    height: 4%;
    margin-top: 30%;
    min-height: 10px;
}

#love{
    margin-top: 30%;
    font-size: calc(0.5vw + 0.5vh);
    font-weight: normal;
    font-family: 'PT Sans';

    justify-content: center;
    text-align: center;
    min-height: 15px;
}

#love:hover{
    background-color: rgba(255,255,255, 0);
}
#love:active{
    color: white;
}
#logo
{
    height: 4%;
    margin-top: 2%;
    margin-left: 3%;
    min-height: 15px;
}

#special
{
    font-size: calc(0.5vw + 0.5vh);
    margin-left: auto;
    margin-right: auto;
    height: calc(0.8vw + 1vh);
    border: 0.5px solid white; 
    width: 62%;
}



::-webkit-scrollbar {
    width: 10px; 
}


::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255, 0.2); 
    border-radius: 10px; 
    border: 1px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color:  rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}